<div class="task-add-container">
    <div class="task-name-add-container">
        <img src="create image" alt="">
        <input type="text" name="title" id="task-title">
        <button class="close-task-cont"><img src="close" alt=""></button>
    </div>
    <div class="task-attributes">
        <div class="task-start">
            <img src="timer-img" alt="">
            <button class="task-attribute-time today">Today</button>
            <button class="task-attribute-time tomorrow">Tomorrow</button>
            <button class="plus-add-more addmore">
                <img src="plus-icon" alt="">
            </button>
        </div>
        <div class="notification">
            <img src="notification" alt="">
            <button class="task-attribute-time">In 1 Hour</button>
            <button class="plus-add-more addmore">
                <img src="plus-icon" alt="">
            </button>
        </div>
        <div class="priority">
            <img src="priority" alt="">
            <div class="add-info">
                <button class="plus-add-more addmore">
                    <img src="plus-icon" alt="">
                </button>
                <h3 class="add-text">Add priority</h3>
            </div>
        </div>
        <div class="tags">
            <img src="tags" alt="">
            <div class="add-info">
                <button class="plus-add-more addmore">
                    <img src="plus-icon" alt="">
                </button>
                <h3 class="add-text">Add Tags</h3>
            </div>
        </div>
        <div class="completion-time">
            <img src="completion-icon" alt="">
            <div class="add-info">
                <input type="date" name="estimatedTime" id="estimatedTime">
            </div>
        </div>
        <div class="description">
            <div class="description-text">
                <h3 class="add-text">
                    Add description
                </h3>
            </div>
            <div class="textarea">
                <textarea name="content" id="content"></textarea>
            </div>
        </div>
        <div class="submit-task">
            <button class="submit">
                <h3>Create Task</h3>
            </button>
        </div>
    </div>
</div>